/* ------------------------------------- */
/* Typeface */
@font-face {
    font-family: 'Cera Stencil Bold';
    src: url('fonts/CeraStencilBold.otf');
}

@font-face {
    font-family: 'Proxima Nova A Bold';
    src: url('fonts/ProximaNovaACondensedBold.otf');
}

@font-face {
    font-family: 'Proxima Nova A Light';
    src: url('fonts/ProximaNovaACondensedLight.otf');
}

body {
    margin: 0;
    background: #55008C;
    color: #fff;
}

h2 {
    font-family: 'Cera Stencil Bold';
    font-size: 45px;
    margin: 10px;
}

p {
    font-family: 'Proxima Nova A Light';
    font-size: 1.5em;
}

* {
    box-sizing: border-box;
}

/* ------------------------------------- */
/* Slideshow */
.mySlides {
    display: none;
}

img {
    vertical-align: middle;
}

.slideshow-container {
    max-width: 90%;
    position: relative;
    margin: auto;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.4s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.text {
    color: #fff;
    font-family: 'Proxima Nova A Bold';
    text-shadow: 2px 2px 2px #222;
    font-size: 2em;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.numbertext {
    color: #f2f2f2;
    font-family: 'Proxima Nova A Bold';
    font-size: 1em;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.4s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 0.4s;
    animation-name: fade;
    animation-duration: 0.4s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
}

/* ------------------------------------- */
/* Overlay Menu */
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(255,3,99, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    font-family: 'Cera Stencil Bold';
    text-decoration: none;
    font-size: 36px;
    color: #fff;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #C8C8C8;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
  }
}
