/* ------------------------------------- */
/* Typeface */
@font-face {
    font-family: 'Cera Stencil Bold';
    src: url('fonts/CeraStencilBold.otf');
}

@font-face {
    font-family: 'Proxima Nova A Bold';
    src: url('fonts/ProximaNovaACondensedBold.otf');
}

@font-face {
    font-family: 'Proxima Nova A Light';
    src: url('fonts/ProximaNovaACondensedLight.otf');
}

body {
    margin: 0;
    background: #55008C;
    color: #fff;
}

h2 {
    font-family: 'Cera Stencil Bold';
    font-size: 45px;
    margin: 10px;
}

h3 {
    font-family: 'Cera Stencil Bold';
    font-size: 24px;
    margin: 10px;
    color: #000;
}

* {
    box-sizing: border-box;
}

/* ------------------------------------- */
/* Map Fill */
path {
	fill: #888;
}

#TLE,
#MY_12,
#MY_13,
#BRN {
	fill: #ccc;
}

#ID-JK,
#ID-JB,
#ID-BA,
#ID-BT,
#ID-JI,
#ID-JT,
#ID-YO,
#ID-SS {
    fill: rgb(85,0,140);
}

/* ------------------------------------- */
/* Grid */
.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 5fr 1fr 1fr;
    grid-column-gap: 4px;
    grid-row-gap: 4px;
    margin: auto;
    width: 80%;
    min-height: 70vh
}

.container > div {
	background-position: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	transition: all 0.2s ease-in;
}

.region:hover {
    opacity: 0.7;
    transform: scale(0.98);
    cursor: pointer;
}

.container > div:nth-of-type(1) {
	grid-column: 1 / 4;
	grid-row: 1 / 2;
	background-color: #fff;
}

#mapID {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    margin: 16px 0 0 16px;
    padding: 16px;
}

.container > div:nth-of-type(2) {
	grid-column: 4 / 5;
	grid-row: 1 / 2;
	background-color: #ccc;
	display: block;
}

.container > div:nth-of-type(3) {
	grid-column: 1 / 2;
	grid-row: 2 / 3;
}

.container > div:nth-of-type(4) {
	grid-column: 2 / 3;
	grid-row: 2 / 3;
}

.container > div:nth-of-type(5) {
	grid-column: 3 / 4;
	grid-row: 2 / 3;
}

.container > div:nth-of-type(6) {
	grid-column: 4 / 5;
	grid-row: 2 / 3;
}

.container > div:nth-of-type(7) {
	grid-column: 1 / 2;
	grid-row: 3 / 4;
}

.container > div:nth-of-type(8) {
	grid-column: 2 / 3;
	grid-row: 3 / 4;
}

.container > div:nth-of-type(9) {
	grid-column: 3 / 4;
	grid-row: 3 / 4;
}

.container > div:nth-of-type(10) {
    grid-column: 4 / 5;
    grid-row: 3 / 4;
}

.region {
	background-color: rgb(22,227,242);
}

.regionList {
	display: none;
	font-family: 'Proxima Nova A Light';
	color: #000;
	font-size: 1.1em;
	line-height: 1.2;
	list-style: none;
	text-align: center;
	padding: 8px;
	margin: auto;
}

li > span {
	font-style: italic;
	color: rgb(255,3,99);
}

.listTitle {
	margin: 0 auto;
	padding: 16px 0;
	background-color: rgb(22,227,242);
	border-bottom: 4px solid rgb(85,0,140);
}

/* ------------------------------------- */
/* Overlay Menu */
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(255,3,99, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    font-family: 'Cera Stencil Bold';
    text-decoration: none;
    font-size: 36px;
    color: #fff;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #C8C8C8;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
  }
}
